# This config is a temporary method to simplify development.
# Hope it could be dropped in nearly future.
#
# This config can also be edited as out-of-tree module.
# But in-tree and out-of-tree cannot be mixed by now,
# that is they must not belong to the same livepatch module.

# src-root is kernel-source tree root
src-root /usr/src/linux-6.4.0-10.1.0.20.oe2309.x86_64
# dev-root is kernel-devel root which contain various headers
dev-root /usr/src/kernels/6.4.0-10.1.0.20.oe2309.x86_64
# debug-root is kernel-debuginfo root which contain vmlinux, modules debuginfo
debug-root /usr/lib/debug/lib/modules/6.4.0-10.1.0.20.oe2309.x86_64

# in-tree vmlinux
module-name vmlinux
	src-name net/netlink/af_netlink.c
		func-name netlink_set_err
		func-name abc
		func-name ddd
	src-name net/netlink/diag.c
		func-name __netlink_diag_dump
		func-name diag
		new-item nnn

# in-tree module
module-name nfsd
	src-name fs/nfsd/export.c
		func-name nfsd1
